@model IEnumerable<Ninesky.Models.UserGroup>

@{
    ViewBag.Title = "用户组列表";
    Layout = "~/Views/Shared/_Manage.cshtml";
}
<div class="left">
    <div class="top"></div>
    左侧列表
</div>
<div class="split"></div>
<div class="workspace">
    <div class="inside">
        <div class="notebar">
            <img alt="" src="~/Content/Default/Manage/Images/UserGroup.gif" />用户组列表
        </div>
        <div class="buttonbar">@Html.ActionLink("添加用户组", "Add", "UserGroup") 用户组类型：
            @Html.DropDownList("GroupTypeList")
        </div>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.UserGroupId }) |
                        <a href="javascript:void(0)" onclick="Delete(@item.UserGroupId,'@item.Name')" >删除</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="clear"></div>
<script type="text/javascript">
    $("#GroupTypeList").change(function () {
        window.location.href = "/UserGroup/List/" + $(this).children("option:selected").val();
    })
    function Delete(id,name) {
        if (confirm("你确定要删除【" + name + "】吗？")) {
            $.post("@Url.Content("~/UserGroup/Delete")", {Id:id}, function (data) {
                if (data) {
                    alert("删除【" + name + "】成功！");
                    location.reload();
                }
            });
        }
    }
</script>