@model Ninesky.Models.User

@{
    ViewBag.Title = "修改个人资料";
    Layout = "~/Views/Shared/_User.cshtml";
}
<div class="workspace">
    <div class="inside">
    <div >您现在的位置： 用户首页</div>
    <div> @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>修改资料</legend>
                @Html.HiddenFor(model => model.UserId)
                <ul>
                    <li>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.UserName)
                        </div>
                        <div class="editor-field">
                            @Html.DisplayFor(model => model.UserName)
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Password)
                        </div>
                        <div class="editor-field">
                            @Html.Password("Password")
                            @Html.ValidationMessageFor(model => model.Password)
                            输入正确的密码才能修改资料。
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Gender)
                        </div>
                        <div class="editor-field">
                            @Html.RadioButtonFor(model => model.Gender, 0) 男
                    @Html.RadioButtonFor(model => model.Gender, 1) 女
                    @Html.RadioButtonFor(model => model.Gender, 2) 保密
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Email)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email)
                            @Html.DisplayDescriptionFor(model => model.Email)
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.QQ)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.QQ)
                            @Html.ValidationMessageFor(model => model.QQ)
                            @Html.DisplayDescriptionFor(model => model.QQ)
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Tel)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Tel)
                            @Html.ValidationMessageFor(model => model.Tel)
                            @Html.DisplayDescriptionFor(model => model.Tel)
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.Address)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address)
                            @Html.DisplayDescriptionFor(model => model.Address)
                        </div>
                    </li>
                    <li>
                        <div class="editor-label">
                            @Html.LabelFor(model => model.PostCode)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PostCode)
                            @Html.ValidationMessageFor(model => model.PostCode)
                            @Html.DisplayDescriptionFor(model => model.PostCode)
                        </div>
                    </li>
                    <li><input type="submit" value="修改" /></li>
                </ul>
            </fieldset>
        }
    </div>
    </div>
</div>
<div class="left">@Html.Partial("PartialNavMenus")</div>
<div class="clear"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
