@model Ninesky.Models.UserChangePassword
@{ 
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner">
    <img src="~/Content/Default/Images/banner.jpg" />
</div>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <div class="form">
        <dl>
            <dt>修改密码</dt>
            <dd>
                <div class="label">@Html.LabelFor(model => model.Password)：</div>
                <div class="ctrl">@Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                    @Html.DisplayDescriptionFor(model => model.Password)
                </div>
            </dd>
            <dd>
                <div class="label">@Html.LabelFor(model => model.NewPassword)：</div>
                <div class="ctrl">@Html.PasswordFor(model => model.NewPassword)
                    @Html.ValidationMessageFor(model => model.NewPassword)
                    @Html.DisplayDescriptionFor(model => model.NewPassword)
                </div>
            </dd>
            <dd>
                <div class="label">@Html.LabelFor(model => model.ConfirmPassword)：</div>
                <div class="ctrl">@Html.PasswordFor(model => model.ConfirmPassword)
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    @Html.DisplayDescriptionFor(model => model.ConfirmPassword)
                </div>
            </dd>
            <dd>
                <div class="label"></div>
                <div class="ctrl">
                    <input type="submit" value="修改密码" />@Html.ValidationMessage("Message")
                </div>
            </dd>
        </dl>
        <div class="clear"></div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
