@model PagerData<Ninesky.Models.CommonModel>
@{
    ViewBag.Title = "我的文章";
    Layout = "~/Views/Shared/_User.cshtml";
}

<div class="workspace">
    <div class="inside">
        <div class="notebar">
            <img alt="" src="~/Content/Default/User/Images/Icon/Article_16.png" />您现在的位置： 文章管理
        </div>
        <div>
            <table class="modelitems_table">
                <tr>
                    <th>ID</th>
                    <th>栏目</th>
                    <th>标题</th>
                    <th>发表者</th>
                    <th>发布时间</th>
                    <th>状态</th>
                    <th>点击</th>
                    <th colspan="2">操作</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CommonModelId</td>
                        <td>[@Html.ActionLink(item.Category.Name,"UserOwn",new {id=item.CategoryId})]</td>
                        <td class="title">@item.Title</td>
                        <td>@item.Inputer</td>
                        <td>@item.ReleaseDate</td>
                        <td>@Ninesky.Models.CommonModel.ContentStatus.FirstOrDefault(c => c.Value == item.Status.ToString()).Text</td>
                        <td>@item.Hits</td>
                        <td>@Html.ActionLink("修改","UserEdit",new {id = item.CommonModelId})</td>
                        <td><a>删除</a></td>
                    </tr>
                }
            </table>
            @Html.Pager(this.ViewContext.RouteData.Values,Model.Config,"pager","pager")
        </div>
    </div>
</div>
<div class="left">@Html.Partial("PartialUserNavMenus")<br />
</div>
<div class="clear"></div>
